.popup__left {
  width: 33.333333%;
  display: table-cell;
}
.popup__right {
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
.popup__img {
  display: block;
  width: 100%;
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #eee;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 4rem;
  column-gap: 4rem;
  -webkit-column-rule: 1px solid #eee;
  column-rule: 1px solid #eee;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.popup__close:link,
.popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 1;
}
.popup__close:hover {
  color: var(--clr-primary-5);
}

.form-grid-company {
  margin-right: 10px;
  align-items: center;
}

.form-grid-designation {
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .popup__close:link,
  .popup__close:visited {
    top: 0;
    right: 0.5rem;
  }
  .popup__close {
    z-index: 1;
  }
}
