.social-link {
  font-size: 1.75rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}
.social-link:hover {
  color: var(--clr-primary-5);
}

.social-links {
  margin-top: 1.5rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  max-width: 8rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .social-links {
    font-size: 1rem;
  }
}
